html{
  background-color: #FF5A5F;

}
.containerAcceuilClientele {
  display: flex;
  text-align: center;

  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  height: 100%;
}

.card {
  background-color: #FF5A5F;
  gap: 5px;
  width: 30%;
  border: none;

}
.cardSeules {
  display: flex;
  flex-direction: column;
  color:#bc4a55;
  border-radius: 5px;
  background-color: #ffbc5b;
  padding: 10px;
}
.cardSeules:hover {
  cursor:pointer;
  background-color: #ffc47a;
}


button {
  background-color: #bc4a55;
  cursor: pointer;
  color: aliceblue;
  border-radius: 5px;
}



h3 {
  color:#bc4a55;}
.intitules{
  background-color: #ffbc5b;
  margin-top:10px;
  margin-bottom: 15px;
  border-radius: 5px;

}

.etat{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.etat p {
  margin: 0; /* Supprime la marge par défaut du paragraphe */
}
