<h1>page accueil-clientele</h1>

<div>TABLES LIBRES</div>
<ng-container *ngIf="tables$ | async as tables">
  <div class="d-flex flex-row flex-wrap gap-2 m-2">
    <div *ngFor="let table of tables">
      <ng-container *ngIf="table.etat === 'LIBRE'">
        <p>Numéro{{ table.numero }}</p>
        <p>Places{{ table.nombrePlace }}</p>
        <p>ETAT {{ table.etat }}</p>
        <button (click)="passerTableLibrePresent(table)">
          {{table.etat === "LIBRE" ? "PRESENT" : "LIBRE"}}
        </button>
      </ng-container>
    </div>
  </div>
</ng-container>

<div>TABLES RESERVEES</div>
<ng-container *ngIf="tables$ | async as tables">
  <div class="d-flex flex-row flex-wrap gap-2 m-2">
    <div *ngFor="let table of tables">
      <ng-container *ngIf="table.etat === 'RESERVEE'">
        <p>Numéro{{ table.numero }}</p>
        <p>Places{{ table.nombrePlace }}</p>
        <p>ETAT {{ table.etat }}</p>
        <button (click)="passerTableReserveePresent(table)">
          PASSER EN PRESENT
        </button>
      </ng-container>
    </div>
  </div>
</ng-container>


<div>TABLES PRESENTES</div>
<ng-container *ngIf="tables$ | async as tables">
  <div class="d-flex flex-row flex-wrap gap-2 m-2">
    <div *ngFor="let table of tables">
      <ng-container *ngIf="table.etat === 'PRESENT'">
        <p>Numéro{{ table.numero }}</p>
        <p>Places{{ table.nombrePlace }}</p>
        <p>ETAT {{ table.etat }}</p>
        <button (click)="passerTableLibrePresent(table)">
          {{table.etat === "PRESENT" ? "LIBRE" : "PRESENT"}}
        </button>
      </ng-container>
    </div>
  </div>
</ng-container>
